<!DOCTYPE html>
<html>
    <head>
        <title><%= title3 %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h1><%= title3 %></h1>
        <% for (i in ['a', 'b', 'c']) { %>
            <p>Welcome to <%= title3 %></p>
        <% } %>
    </body>
</html>